@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function em($pixels, $context: $default-font-size) {
  @return #{$pixels/$context}em;
}

// variables
:root {
  --sidebar-width: 100%;
  --toggler-size: 30px;
  --toggler-line-number: 3;
  --toggler-line-size: calc(
    var(--toggler-size) /
      (var(--toggler-line-number) + var(--toggler-line-number) - 1)
  );
  --toggler-offset-left: 10px;
  --toggler-offset-top: 10px;
  --toggler-color: #bcbec0;
  --toggler-color-hover: #bcbec0;
}

// same as var(--toggler-line-number)
$total: 3;

// reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// styling
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  @include fluid-type(font-size, 20em, 75em, 0.8rem, 1.2rem);
}

.wrapper {
  // min-width: 80vw;
  // background: AliceBlue;
  // display: flex;
}

.sidebar,
.content {
  transition: all 0.25s ease-out;
}

.sidebar {
  width: 65%;
  transform: translateX(calc(var(--sidebar-width) * -1));
  background-color: rgba(1, 1, 1, 0.8);
  display: flex;
  // justify-content: center;
  // align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  opacity: 0.5;
  z-index: 999;
}

.sidebar__content__div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  width: 100%;

  .logo__container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 120px;
    }
  }
  .seperator {
    width: 0.005em;
    margin-left: 50px;

    height: 420px;
    background-color: white;
  }

  ul {
    width: 50%;
    li {
      height: 70px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      a {
        margin-left: 40px;
        width: 100%;
      }
    }
  }

  li:hover {
    // background-color: #bcbec0;

    a {
      transition: 400ms;
      color: black;
    }
  }
}

///////////////////

.menu__item {
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.menu__item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #bcbec0;
  z-index: -1;
  transition: 0.3s ease all;
  transform: scale(0, 1);

  transform-origin: top left;
  transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu__item:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}

///////////////////

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu {
  list-style-type: none;
}

.menu__link {
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 2rem;
  // line-height: 15vmin;
  transition: all 0.25s ease-out;

  &:hover,
  &:focus,
  &:active {
    color: rgb(146, 146, 146);
  }
}

.menu-toggler {
  border-radius: calc(var(--toggler-line-size) / 2);
  // border-radius: 2px;
  display: block;
  // width: var(--toggler-size);
  width: 40px;
  height: var(--toggler-size);
  position: fixed;
  top: var(--toggler-offset-top);
  left: var(--toggler-offset-left);
  cursor: pointer;
  z-index: 9999;
}

.menu-toggler__line {
  // height: var(--toggler-line-size);
  height: 5px;
  background: var(--toggler-color);
  position: absolute;
  // border-radius: calc(var(--toggler-line-size) / 2);
  border-radius: 2px;
  left: 0;
  right: 0;
  transition: all 0.25s ease-out;

  $num: 1;

  @while $num <= $total {
    &:nth-child(#{$num}) {
      top: calc(
        var(--toggler-line-size) *
          #{$num} +
          (var(--toggler-line-size) * (#{$num} - 2))
      );
    }

    $num: $num + 1;
  }
}

.input-toggler {
  position: fixed;
  left: -100%;

  &:focus ~ .menu-toggler {
    outline: 1px dotted;
  }

  &:checked ~ .menu-toggler {
    .menu-toggler__line:not(:first-child):not(:last-child) {
      opacity: 0;
    }

    .menu-toggler__line:first-child,
    .menu-toggler__line:last-child {
      background-color: var(--toggler-color-hover);
    }

    .menu-toggler__line:first-child {
      transform: translateY(
          calc(var(--toggler-line-size) * (var(--toggler-line-number) - 1))
        )
        rotate(45deg);
    }

    .menu-toggler__line:last-child {
      transform: translateY(
          calc(-1 * var(--toggler-line-size) * (var(--toggler-line-number) - 1))
        )
        rotate(-45deg);
    }
  }

  &:checked ~ .sidebar {
    transform: translateX(0);
    opacity: 0.98;
  }
}

.wrapper {
  // height: calc(100vh);
}

.sb-link {
  display: flex;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #bb5555;
  transition: background 0.3s;
}

.sb-link:hover,
.sb-link:focus,
.sb-link:active {
  background: #f7f7f7;
}
