.portfolio__root {
  //   height: 100vh;
  width: 100%;
  margin-top: -2px;
  background: url("../../assets/bg-work.png");

  display: flex;
  justify-content: center;
  align-items: flex-start;

  .portfolio__root__div {
    width: 80%;
    height: 100%;

    h2 {
      color: #fff;
      font-weight: 100;
      font-size: 72px;
    }

    .portfolio__image__gallery {
      //   height: 80%;
      width: 100%;
      background-color: red;
      margin-bottom: 80px;
    }
  }
}
